@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    color: black;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 50px;
    box-sizing: border-box;
    height: 100%;
    background: linear-gradient(80deg, #7BB662 50%, #994FB2 50%) no-repeat;
    background-size: cover;
    animation-name: example;
    animation-duration: 8s;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
    image-rendering: pixelated;
    animation-iteration-count:infinite;
}

@keyframes example {
    0% { background: linear-gradient(80deg, #7BB662 0%, #994FB2 100%); }
    9% { background: linear-gradient(80deg, #7BB662 0%, #994FB2 100%); }
    20% { background: linear-gradient(80deg, #7BB662 20%, #994FB2 80%); }
    29% { background: linear-gradient(80deg, #7BB662 20%, #994FB2 80%); }
    40% { background: linear-gradient(80deg, #7BB662 40%, #994FB2 60%); }
    49% { background: linear-gradient(80deg, #7BB662 40%, #994FB2 60%); }
    60% { background: linear-gradient(80deg, #7BB662 60%, #994FB2 40%); }
    69.5% { background: linear-gradient(80deg, #7BB662 60%, #994FB2 40%); }
    80% { background: linear-gradient(80deg, #7BB662 80%, #994FB2 20%); }
    89% { background: linear-gradient(80deg, #7BB662 80%, #994FB2 20%); }
    100% { background: linear-gradient(80deg, #7BB662 90%, #994FB2 10%); 
        background-size: cover;}
  }

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 100px;
    color: white;
    -webkit-text-stroke-width: 2px;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);

}

#h1p1 {
    -webkit-text-stroke-color: #FBB149;

}

#h1p2 {
    -webkit-text-stroke-color: #589C48;
}

#h1p3 {
    
    -webkit-text-stroke-color: #733381;
}

.github_icon,
.linkedin_icon {
    width: 50px;
    height: 50px;
    color: white;
}

.game_container,
.points_time_container {
    margin-top: 50px;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.points_time_container {
    font-size: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 75px;
}

ul {
    list-style-type: none;
}

#points {
    font-size: 60px;
}

#lives img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px; 
}

#timerdiv {
    width: auto;
    height: auto;
    font-size: 75px;
    text-align: center;
    margin-bottom: 50px;
    text-align: justify;
}

#wordToType {
    width: 50%;
    color: black;
    font-size: 75px;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
    animation-iteration-count:infinite;
}

#ui_enter {
    display: none;
}

#userInput {
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    padding: 10px;
    font-family: inherit;
    width: 50%;
    font-size: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: white;
    border: 5px solid #FBB149;
    color: inherit;
}

h1 span {
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
    animation-iteration-count:infinite;
}

@keyframes move-text {
    0% { bottom: -0.01em; opacity: 1; }
    50% { bottom: 0.01em; }
    100% { bottom: 0; opacity: 1; }
}

#play_again {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}


h2{
    font-size: 80px;
}